/* main {
  display: grid;
  grid-template-columns: 1fr repeat(12, minmax(auto, 60px)) 1fr;
  grid-gap: 40px;
  padding: 60px 0;
}

.cards {
  grid-column: 2 / span 12;
  display: grid;
  grid-template-columns: repeat(12, minmax(auto, 60px));
  grid-gap: 40px;
}

.card {
  display: flex;
  flex-direction: column;
  grid-column-end: span 4;
  background-color: #0b0d0a;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  border-radius: 10px;
  box-shadow: -5px 5px rgba(0, 0, 0, 0.142);
}

.card:hover {
    transform: translateY(-7px);
}

.card_img-container {
  width: 100%;
  padding-top: 50%;
  overflow: hidden;
  position: relative;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.card_img-container img {
  width: 100%;
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.card_content {
  padding: 20px;
} */

.event-card,
.event-card-single {
  border: 5px lightgray solid;
  padding: 20px;
  margin: 20px;
  background-color: lightgray;
}

.event-card {
  width: 450px;
}

.event-card-single {
  width: 1000px;
}
